<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8" />
	<title>{% block title %}HTML5 Template{% endblock %}</title>
	<meta name="description" content="Pick and vote for sessions at Scale Camp 2010" />
	<meta name="author" content="Michael Brunton-Spall" />
	<meta name="Copyright" content="Copyright Michael Brunton-Spall 2010. All Rights Reserved." />
	<meta name="DC.title" content="Session Picker" />
	<meta name="DC.subject" content="Allows sessions to be voted for for unconferences" />
	<meta name="DC.creator" content="Michael Brunton-Spall" />
    <link rel="stylesheet" href="/static/css/reset.css" media="all" />
    <link rel="stylesheet" href="/static/css/core.css" media="all" />
    <!--[if IE]>
    <link rel="stylesheet" href="/static/css/_patches/win-ie-all.css" media="all" />
    <![endif]-->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-18667322-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>

<body>
	{% block body %}
	{% endblock %}
</body>
</html>
