{% extends "base.html" %}
{% block title %}Scale Camp Session Picker{% endblock %}
{% block bodyattrs %}class="container_24"{% endblock %}
{% block header %}
	<header>
		<h1>Scale Camp 2010 Session Picker</h1>
<p>ScaleCamp is an unconference that will happen on Dec 10th 2010.  As well as some open spots, we thought it would help organisation this year to have a session picker so we can find out some of the sessions that are popular early and put them in rooms that are big enough.  There will still be an amount of the grid freely available on the day for impromptu sessions.</p>
</header>
<nav>
<ul class="headerline">
	{% if not user %}
	<li class="signin"><a href="/twitter/signin">Sign in with twitter</a></li>
	{% else %}
	<p>Welcome back {{user.display_name}}</p>
	<li><a href="/signout">Sign out</a></li>
	<li><a href="/session/new">Submit a session</a></li>
		{% endif %}
	</ul>
</nav>
{% endblock %}
{% block body %}
<section class="grid_16 prefix_4 suffix_4">
	{% for session in sessions %}
	<article class="session">
		<img src="{{session.submitter.image_url}}">
		<h2>{{session.title}}</h2>
		<h2>{{session.submitter.fullname}}</h2>
		<p>{{session.description}}</p>
		{% if user %}
		<a href="/like/{{session.key}}">Like</a>
		{% endif %}
	</article>
	{% endfor %}
	{% if user %}
	<article class="session">
		<h2>Create a session</h2>
		<form class="newsession" action="/session/new" method="POST">
			<label for="title">Session Title</label> <input id="title" type="text" name="title" placeholder="My Exciting Session Title" required></input>
			<label for="description">Session Description</label> <textarea id="description" name="description" rows="4" cols="60" placeholder="My Exciting Session Description" required></textarea>
			<input type="submit">Submit</input>
			
			</form>
		<img src="{{session.submitter.image_url}}">
		<h2>Ipsum Lorem</h2>
		<h2>Lorem dolla factor</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo, sem eget sagittis suscipit, leo orci sagittis enim, elementum aliquet mauris magna egestas erat. Mauris at eros id ligula sodales iaculis. Vivamus egestas lectus vitae eros consectetur adipiscing. Maecenas ligula elit, porttitor sit amet dictum id, ullamcorper nec ipsum. Vivamus non nisi nulla. Etiam eu lorem et nisi luctus sollicitudin. Integer ligula sapien, luctus volutpat bibendum non, commodo sit amet libero. Sed sit amet felis non nulla aliquam bibendum eget nec dolor. Morbi nibh tortor, placerat nec rhoncus et, egestas eget lacus. Ut mattis pulvinar hendrerit.
		</p>
	</article>
	{% endif %}
	<article class="session">
		<img src="{{session.submitter.image_url}}">
		<h2>nulla eget laoreet faucibus, ipsum neque vehicula sapien,</h2>
		<h2>Praesent pharetra</h2>
		<p>Integer eu imperdiet lectus. Mauris eu mauris sit amet est mollis blandit id quis dolor. Morbi consectetur nulla eget ipsum ultricies accumsan. Fusce at lacus nibh, id placerat mauris. Vestibulum enim neque, euismod bibendum convallis id, porttitor a mi. Pellentesque quam neque, semper sit amet mattis eu, adipiscing ac enim. Duis pulvinar risus nulla. Curabitur ut urna in felis molestie auctor. Nunc fermentum lobortis tempor. Mauris pulvinar semper molestie. Quisque vestibulum aliquet purus sit amet luctus. Maecenas fermentum tellus condimentum mi suscipit iaculis. Quisque at urna ante. Aliquam risus orci, rutrum non fringilla dignissim, porta in eros. Proin pretium tristique commodo. Integer cursus accumsan pharetra.</p>
	</article>
</section>
{% endblock %}