{% extends "base.html" %}
{% block title %}Scale Camp Session Picker{% endblock %}
{% block body %}
<header>
	<h1>Scale Camp <span>Session Picker</span></h1>
	<p><strong>ScaleCamp</strong> is an unconference that will happen on <strong>Dec 10th 2010.</strong></p>
	<p>As well as some open spots, we thought it would help organisation this year to have a session picker so we can find out some of the sessions that are popular early and put them in rooms that are big enough.  There will still be an amount of the grid freely available on the day for impromptu sessions.</p>
</header>

<section class="main">
	<nav class="controls">
		{% if not user %}			
			<p><a href="/twitter/signin"><img src="/static/img/sign-in-with-twitter-d.png"/></a>You need to sign in to like or add your own sessions</p>
		{% else %}
			<p>Welcome back {{user.display_name}} - <a href="/signout">Sign out</a></p>
		{% endif %}
		{% if user %}
		<form action="/session/new" method="POST">
		    <label for="title">Title</label> <input type="text" id="title" name="title" placeholder="My Exciting Session Title" required/>
		    <label for="description">Details</label><textarea id="description" name="description" placeholder="My Exciting Session Description" required></textarea>
		    <input type="submit" value="Suggest session" class="btn"/>
		</form>
	{% endif %}
	</nav>
	<section class="sessions">
		{% for session in sessions %}
		<article class="session">
			<a href="http://twitter.com/{{session.submitter.twitter_name}}"><img src="{{session.submitter.image_url}}"></a>
			<h2>{{session.title}}</h2>
			<h3>{{session.submitter.display_name}}</h3>
			<div class="description">
				{{session.description|linebreaks}}
			</div>
			<div class="vote">
				{% if user %}
				{% if session.user_has_voted_for %}
				<p>You have already voted for this</p>
				{% else %}
				<p><a href="/session/{{session.key}}/like">Vote for this</a></p>
				{% endif %}
				{% else %}
				<p>Login to vote for this</p>
				{% endif %}
			</div>
		</article>
		{% endfor %}
	</section>
	<footer>
		<p>Built by <a href="http://github.com/bruntonspall">Michael Brunton-Spall</a> and Design by <a href="http://github.com/garethr">Gareth Rushgrove</a>. Uses <a href="http://github.com/mikeknapp/AppEngine-OAuth-Library">Mike Knapp's AppEngine OAuth library</a>, <a href="http://github.com/joerussbowman/gaeutilities">gaeutilities</a> and <a href="http://appengine.google.com">Google AppEngine</a></p>
	</footer>
</section>
{% endblock %}