{% extends "base.html" %}
{% block title %}Scale Camp Session Picker{% endblock %}
{% block bodyattrs %}class="container_24"{% endblock %}
{% block header %}
	<header>
		<h1>Scale Camp 2010 Session Picker</h1>
<p>ScaleCamp is an unconference that will happen on Dec 10th 2010.  As well as some open spots, we thought it would help organisation this year to have a session picker so we can find out some of the sessions that are popular early and put them in rooms that are big enough.  There will still be an amount of the grid freely available on the day for impromptu sessions.</p>
</header>
<nav>
<ul class="headerline">
	{% if not user %}
	<li class="signin"><a href="/twitter/signin">Sign in with twitter</a></li>
	{% else %}
	<p>Welcome back {{user.display_name}}</p>
	<li><a href="/signout">Sign out</a></li>
	<li><a href="/session/new">Submit a session</a></li>
		{% endif %}
	</ul>
</nav>
{% endblock %}
{% block body %}
<section class="grid_16 prefix_4 suffix_4">
	{% for session in sessions %}
	<article class="session">
		<img src="{{session.submitter.image_url}}">
		<h2>{{session.title}}</h2>
		<h2>{{session.submitter.fullname}}</h2>
		<p>{{session.description|linebreaks}}</p>
		{% if user %}
		<a href="/like/{{session.id}}">Like</a>
		{% endif %}
	</article>
	{% endfor %}
	{% if user %}
	<article class="session">
		<h2>Create a session</h2>
		<form class="newsession" action="/session/new" method="POST">
			<label for="title">Session Title</label> <input id="title" type="text" name="title" placeholder="My Exciting Session Title" required></input>
			<label for="description">Session Description</label> <textarea id="description" name="description" rows="4" cols="60" placeholder="My Exciting Session Description" required></textarea>
			<input type="submit">Submit</input>
			
			</form>
	</article>
	{% endif %}
</section>
{% endblock %}